* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #F9F9F9;
  --white: #FFFFFF;
  --gray: #606060;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--background);
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}